{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
<h1>BIODATA DIRI</h1>
 <pre> <font face="Times New Roman">
<p><img src="{% static 'img/syar.jpeg' %}"style="height: 7cm"> </p>
   <b>
Nama                  : Syarif Hidayatulloh
Nim                     : 181810101028
TTL                    : Pasuruan, 09 Juni 2000
Asal Universitas:Universitas Jember
Status                 : Mahasiswa
Jurusan              : Matematika
E-mail                : Hidayatullohsyarif960@gmail.com
Agama               : Islam
Kewarganegaraan: Indonesia
Nomer WA        : 085730358552
Instagram         : Syarif.Hidayatulloh
</pre> </font> </b>
<marquee bgcolor="#ffffff" direction="right" height="132px" scrollamount="5" width="100%"> <img src="{%static 'img/1.PNG' %}" /></marquee>
<marquee bgcolor="#ffffff" direction="left" height="132px" scrollamount="5" width="100%"> <img src="{%static 'img/2.PNG' %}" /> </marquee>
<marquee bgcolor="#ffffff" direction="right" height="132px" scrollamount="5" width="100%"> <img src="{%static 'img/3.PNG' %}"/> </marquee>
  {% block content %}
  {% endblock content %}
</body>

</html>

